<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} | Caffinated Image Loader</title>
   <meta name="author" content="Jacob Johansen" />

   <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="assets/js/google-code-prettify/prettify.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div>
    {{ content }}
  </div>
  
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.lazyload.min.js"></script>

  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
  
  </script>
</body>
</html>
