<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} | Caffeinated Image Loader</title>
   <meta name="author" content="Jacob Johansen" />

   <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen, projection" />
   <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
   <link rel="stylesheet" href="assets/js/google-code-prettify/prettify.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        {{ content }}  
      </div><!--/span-->
    </div><!--/row-->
    
    <hr>

    <footer>
      <p>&copy; Company 2012</p>
    </footer>

  </div><!--/.fluid-container-->
  
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.lazyload.min.js"></script>

  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
  
  </script>
</body>
</html>
